.sfq {
  height: 31.3rem;
  // width: 87.5rem;
  display: flex;
  justify-content: center;
  // padding-right: 13.9rem;
  .sfq-item {
    width: 15rem;
    height: 31.3rem;
    border-radius: 0.6rem;
    margin-left: 0.6rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding: 2.4rem 0.6rem;
    box-sizing: border-box;
    // animation: all-zero 1s ease-in-out forwards;

    .sfq-content {
      display: none;
      width: 29.8rem;
      height: 15rem;
      font-size: 1.1rem;
      font-family: Microsoft YaHei, Microsoft YaHei-Normal;
      font-weight: normal;
      color: #000000;
      line-height: 1.3rem;
      pointer-events: none;
      ul li {
        line-height: 1.7rem;
        margin-bottom: 0.6rem;
      }
    }
    .sfq-title {
      padding: 0rem 0 1.2rem 0;
      text-align: center;
      font-size: 1.8rem;
      font-family: Microsoft YaHei, Microsoft YaHei-Normal;
      font-weight: normal;
      color: #ffffff;
    }
    .sfq-synopsis {
      width: 11.9rem;
      height: 4.7rem;
      margin: 0 auto;
      font-size: 1.1rem;
      font-family: Microsoft YaHei, Microsoft YaHei-Normal;
      font-weight: normal;
      text-align: LEFT;
      color: #ffffff;
      line-height: 1.5rem;
    }
  }
  .sfqOne {
    background: url("../../../assets/images/sfq1.jpg") 100% no-repeat;
  }

  .sfqTwo {
    background: url("../../../assets/images/sfq2.jpg") 100% no-repeat;
  }

  .sfqThr {
    background: url("../../../assets/images/sfq3.jpg") 100% no-repeat;
  }

  .sfqFour {
    background: url("../../../assets/images/sfq4.jpg") 100% no-repeat;
  }

  .sfqFive {
    background: url("../../../assets/images/sfq5.jpg") 100% no-repeat;
  }

  .active {
    width: 38.8rem;
    height: 31.2rem;
    background: #ffffff;
    border: 0.3rem solid #4f4f4f;
    border-radius: 0.6rem;
    padding: 0 0 0 4.4rem;
    // animation: zero-all 1s ease-in-out forwards;
    .sfq-synopsis {
      opacity: 0;
      display: none;
    }
    .sfq-title {
      font-size: 1.8rem;
      padding: 2.4rem 0 1.2rem 0;
      font-family: Microsoft YaHei, Microsoft YaHei-Normal;
      font-weight: normal;
      text-align: LEFT;
      color: #000000;
    }
    .sfq-content {
      display: block;
      pointer-events: auto;
    }
    // @keyframes zero-all {
    //   0% {
    //     width: 15rem;
    //     opacity: 0;
    //   }
    //   100% {
    //     width: 38.8rem;
    //     opacity: 1;
    //   }
    // }
  }
}
