@font-face {
  font-family: "站酷高端黑";
  src: url("../assets/fonts/GaoDuanHeiXiuDing151105-1.ttf");
}

@font-face {
  font-family: "站酷庆科黄油体";
  src: url("../assets/fonts/ZhanKuQingKeHuangYouTi.ttf");
}
