.product-page {
  margin-top: 6rem;
  .parduct-page-top {
    background: url("../../assets/images/banner.jpg") 100% no-repeat;
    height: 50rem;
    border-bottom: 0.1rem solid #797979;
    border-top: 0.1rem solid #797979;
    display: flex;
    .top-right {
      img {
        display: inline-block;
        width: 39.4rem;
        height: 50rem;
      }
    }
    .top-left {
      margin-top: 22.8rem;
      .product {
        width: 38rem;
        height: 6.3rem;
        background: #4d4c4c;
        border: 0.1rem solid #797979;
        font-size: 4.5rem;
        font-family: Microsoft YaHei, Microsoft YaHei-Normal;
        font-weight: normal;
        text-align: LEFT;
        color: #ffffff;
        text-align: right;
        padding-right: 1.9rem;
      }
      .service {
        font-size: 4.5rem;
        font-family: Microsoft YaHei, Microsoft YaHei-Normal;
        font-weight: normal;
        text-align: LEFT;
        color: #000000;
        padding-left: 27.1rem;
        margin-right: 16.8rem;
      }
    }
  }
  .parduct-page-middle {
    padding: 6.1rem 0 0 0;
    border-bottom: 0.1rem solid #797979;

    .middle-title {
      font-size: 4.5rem;
      font-family: "站酷庆科黄油体", system-ui;
      font-weight: normal;
      text-align: center;
      color: #000000;
      margin-bottom: 1rem;
    }
    .middle-list {
      margin-top: 1.5rem;
      display: flex;
      justify-content: end;
      padding-right: 13.9rem;
      .list-item {
        width: 21.9rem;
        height: 8.6rem;
        background: #ffffff;
        border: 0.1rem solid #797979;
        border-radius: 0.6rem;
        padding: 1.9rem 0 0 4.4rem;
        margin-left: 1.4rem;

        .list-title {
          font-size: 1.8rem;
          font-family: Microsoft YaHei, Microsoft YaHei-Normal;
          font-weight: normal;
          text-align: LEFT;
          color: #333333;
        }
        .list-content {
          font-size: 1.1rem;
          font-family: Microsoft YaHei, Microsoft YaHei-Normal;
          font-weight: normal;
          text-align: LEFT;
          color: #000000;
          margin-top: 0.9rem;
        }
      }
    }
    .parduct-page-middle-buttom {
      width: 15.6rem;
      height: 5rem;
      background: #9abaf5;
      border: 0.1rem solid #797979;
      border-radius: 0.6rem;
      font-size: 1.8rem;
      font-family: Microsoft YaHei, Microsoft YaHei-Normal;
      font-weight: normal;
      text-align: center;
      color: #333333;
      margin: auto;
      line-height: 5rem;
      margin-top: 4.3rem;
      margin-bottom: 3.6rem;
    }
  }
  .parduct-page-bottom {
    .parduct-page-bottom-title {
      font-size: 4.5rem;
      font-family: "站酷庆科黄油体", system-ui;
      font-weight: normal;
      text-align: center;
      color: #000000;
      padding: 4.5rem 0 5.3rem 0;
    }
    .parduct-page-bottom-contet {
      display: flex;
      justify-content: center;
      margin-bottom: 6.5rem;
      .empty {
        width: 32.8rem;
        height: 25.3rem;
        background: #ffffff;
        border: 0.1rem solid #797979;
      }
      .one {
        margin: 0 4.6rem;
      }
    }
  }
}
