.about-page {
  .about-page-top {
    width: 100%;
    height: 67.5rem;
    background: url("../../assets/images/about_top.jpg") no-repeat;
    background-size: contain;
    position: relative;
    .word {
      position: absolute;
      top: 27.8rem;
      left: 9.4rem;
      animation: fadeInOut 3s ease 1 alternate;
      .english {
        font-size: 3rem;
        font-family: Times New Roman, Times New Roman-Normal;
        font-weight: normal;
        text-align: LEFT;
        color: #333333;
        margin-bottom: 0.9rem;
      }
      .chainese {
        font-size: 2.6rem;
        font-family: SimSun, SimSun-Bold;
        font-weight: normal;
        text-align: LEFT;
        color: #333333;
      }
    }
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    } /* from状态，初始时完全透明 */
    100% {
      opacity: 1;
    } /* to状态，最后时再次完全透明 */
  }
  .about-page-middle {
    margin-top: 11.5rem;
    display: flex;
    padding: 0 7.8rem 0 9.4rem;

    .about-page-left {
      margin-right: 9.5rem;
      flex: 0 34%;

      .title {
        font-size: 2.6rem;
        font-family: Microsoft YaHei, Microsoft YaHei-Normal;
        font-weight: normal;
        text-align: LEFT;
        color: #333333;
        margin-top: 3.4rem;
        &::after {
          width: 21rem;
          height: 0.3rem;
          background: #000000;
          border-radius: 0rem;
          content: "";
          display: inline-block;
          top: -1.9rem;
          position: relative;
        }
      }
      .content {
        font-size: 1.5rem;
        margin-top: 1.9rem;
        height: 29.8rem;
        font-family: Microsoft YaHei, Microsoft YaHei-Normal;
        font-weight: normal;
        text-align: LEFT;
        color: #333333;
        line-height: 2.3rem;
      }
    }
    .about-page-right {
      img {
        display: inline-block;
        width: 52.3rem;
      }
    }
  }
  .lead-figure {
    height: 67.5rem;
    margin-top: 8.8rem;
    background: #c9c9c9;
    padding: 0 19.6rem 0 13.6rem;
    .lead-title {
      font-size: 3rem;
      font-family: Microsoft YaHei, Microsoft YaHei-Normal;
      font-weight: normal;
      text-align: center;
      color: #333333;
      padding: 8.7rem 0 4.8rem 0;
    }
    .content-lead {
      display: flex;

      .lead-figure-left {
        width: 29.1rem;
        height: 41.3rem;
        border-radius: 0.6rem;
        overflow: hidden;
        background-color: #fff;
      }
      .lead-figure-right {
        margin-left: 13.3rem;
        width: 41.1rem;
        height: 38.3rem;
        font-size: 1.5rem;
        font-family: Microsoft YaHei, Microsoft YaHei-Normal;
        font-weight: normal;
        ul li {
          line-height: 2.2rem;
          margin-bottom: 0.6rem;
        }
      }
    }
  }
  .about-page-bottom {
    padding: 3.8rem 11.6rem;
    img {
      display: inline-block;
      width: 96.9rem;
      height: 24.6rem;
      border-radius: 2.1rem;
    }
  }
}
